configuration {

    display-drun: "Launch: ";
    show-icons : true;
    icon-theme: "Papirus-dark";
    drun-display-format: "{icon} {name}";
    font: "JetBrainsMono Nerd Font 10";


}

//@theme "theme.rasi"



@theme "/home/vex/.local/share/rofi/themes/simple-tokyonight.rasi"
