configuration {

    display-drun: "Launch: ";
    show-icons : true;
    icon-theme: "Papirus-dark";
    drun-display-format: "{icon} {name}";
    font: "CaskaydiaCove Nerd Font 10";


}

@theme "theme.rasi"



