[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=appimage-run /home/vex/Downloads/THR.AppImage
Name=Thorium
Icon=/home/vex/Downloads/123.png